<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	{% block link_css %}{% endblock %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
 		@font-face {
    	font-family: Kurale; 
    	src: url(static/main/Kurale/Kurale-Regular.ttf);
   		}
  	</style>
</head>
<body>
	<header>
		<nav>
			<div class="topnav" id="myTopnav">
				<a href="#" id="menu" class="icon"><i class="fa fa-bars"></i></a>
				<a href="{% url 'home' %}">Главная</a>
				<a href="{% url 'home' %}#menu_page">Меню</a>
				<a href="{% url 'home' %}#contacts_page">Контакты</a>
			</div>
		</nav>
		<div class="header_logo">
			<a href="/">Lemonize</a>
		</div>
		<div class="shopping-cart">
			<a href="{% url 'payment' %}" class="shopping-cart_button"><i class="fa fa-shopping-cart"></i></a>
		</div>
	</header>
	{% block content %}{% endblock %}
	<footer>
		<p class="text">© Кондитерская Lemonize. Все права защищены.</p>
	</footer>
	{% block link_js %}{% endblock %}
</body>
</html>