{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block link_css %}
	<link rel="stylesheet" type="text/css" href="static/main/css/PaymentPage.css?v=24">
{% endblock %}

{% block content %}
<body>
	<main>
		<div class="subtitle">
			<p>{{ title }}</p>
		</div>
		<form method="post">
		{% csrf_token %}
		<div class="table">
			<table class="cart" cellspacing="0" id="cart">
				<thead>
	                <tr>
	                    <td>Товар</td>
	                    <td>Цена</td>
	                    <td>Количество</td>
	                    <td></td>
	                </tr>
            	</thead>
            	<tbody>
            		{% for el in basket %}
            		<tr class="product">
            			<td>
            				<div class="photo_and_name">
            					<div class="photo">
            					<img src="{{ el.product_id.image }}" alt="">
            					</div>
            					<p class="name">{{ el.product_id.title }}</p>
            				</div>
            			</td>
            			<td>
            				<p class="price" id="price">{{ el.product_id.price }} ₽</p>
            			</td>
            			<td>
            				<p class="count">
            					<input type="number" id="count" name="count" min="1" max="10" value="{{ el.count }}" oninput="Sum()">
            				</p>
            			</td>
            			<td>
            				<form method="post">
								{% csrf_token %}
								<input type="hidden" value="{{ el.id }}" name="id">
            					<button type="submit" class="delete" name="product_delete">X</button>
            				</form>
            			</td>	
            		</tr>
            		{% endfor %}
            	</tbody>
			</table>
		</div>
		<div class="payment">
			<div class="subtitle">
				<p>Оформление заказа</p>
			</div>
			
				<div class="input_data">
					<div class="name_and_phone">
						
						<input type="text" name="name" placeholder="Фамилия и имя" id="name_and_phone" class="input_text">
						
						<input type="tel" name="phone" maxlength="11" placeholder="Телефон" id="name_and_phone" class="input_text">
						
					</div>
					<div class="delivery">
						<div class="button">
							<p><input type="radio" name="delivery" id="delivery" value="Доставка">Доставка</p>
						</div>
						<div class="button">
							<p><input type="radio" name="delivery" id="pickup" value="Самовывоз">Самовывоз</p>
						</div>	
					</div>
				</div>
				<div class="total">
					<p>Итого</p>	
					<input type="text" name="total_sum" id="total_sum" value="0 ₽" readonly>
				</div>
				<button type="submit" class="payment_button" name="order">Оформить заказ
				</button>
			</form>
	</main>
{% endblock %}

{% block link_js %}
	<script type="text/javascript" src="static/main/js/PaymentPage.js?v=3"></script>
{% endblock %}