{% extends 'main/base.html' %}

{% block title %}
Десерты
{% endblock %}

{% block link_css %}
	<link rel="stylesheet" type="text/css" href="static/main/css/ProductPage.css">
{% endblock %}

{% block content %}
<body>
	<main>
		<div class="subtitle">
			<p>Товар</p>
		</div>
		<div class="products">
			<div class="product">
				<div class="photo">
					<img src="" alt="">
				</div>
				<div class="about">
					<p class="name">Название</p>
					<p class="price">Цена ₽</p>
					<div class="button">
						<p>В корзину</p>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="photo">
					<img src="" alt="">
				</div>
				<div class="about">
					<p class="name">Название</p>
					<p class="price">Цена ₽</p>
					<div class="button">
						<p>В корзину</p>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="photo">
					<img src="" alt="">
				</div>
				<div class="about">
					<p class="name">Название</p>
					<p class="price">Цена ₽</p>
					<div class="button">
						<p>В корзину</p>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="photo">
					<img src="" alt="">
				</div>
				<div class="about">
					<p class="name">Название</p>
					<p class="price">Цена ₽</p>
					<div class="button">
						<p>В корзину</p>
					</div>
				</div>
			</div>
		</div>
		<div class="products">
			<div class="product">
				<div class="photo">
					<img src="" alt="">
				</div>
				<div class="about">
					<p class="name">Название</p>
					<p class="price">Цена ₽</p>
					<div class="button">
						<p>В корзину</p>
					</div>
				</div>
			</div>
			<div class="product">
				<div class="photo">
					<img src="" alt="">
				</div>
				<div class="about">
					<p class="name">Название</p>
					<p class="price">Цена ₽</p>
					<div class="button">
						<p>В корзину</p>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block link_js %}
	<script type="text/javascript" src="static/main/js/ProductPage.js"></script>
{% endblock %}