{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block link_css %}
	<link rel="stylesheet" type="text/css" href="static/main/css/ProductPage.css?v=5">
{% endblock %}

{% block content %}
<body>
	<main>
		<div class="subtitle">
			<p>{{ title }}</p>
		</div>
			<div class="products">
				{% for el in products %}
					<div class="product">
						<div class="photo">
							<img src="{{el.image}}" alt="">
						</div>
						<div class="about">
							<p class="name">{{el.title}}</p>
							<p class="price">{{el.price}} ₽</p>
							<form method="post">
								{% csrf_token %}
								<input type="hidden" value="{{ el.id }}" name="product_id">
								<button type="submit" class="button">В корзину</button>
							</form>
							
						</div>
					</div>
				{% endfor %}
			</div>
	</main>
{% endblock %}

{% block link_js %}
	<script type="text/javascript" src="static/main/js/ProductPage.js"></script>
{% endblock %}